body {
    background-image: url(../../afbeeldingen/backgroundv3.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding:0;
    color: black;
}

@font-face{
    font-family: Agbalumo;
    src: url(fonts/Agbalumo)
}

@font-face{
    font-family: Acme;
    src: url(fonts/Acme)
}

.navbar img { 
    width: 25%;
}

.navbar {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar a{
    margin: 1em 1em 1em 1em;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: 'Agbalumo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar a:last-child:hover,
.navbar a:nth-last-child(2):hover {
    border-bottom: solid 3px rgb(0, 0, 0);
}

.navbar a:last-child:active,
.navbar a:nth-last-child(2):active{
    border-bottom: solid 3px rgb(0, 0, 0);
}

/*
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 50%;
    margin: 10px
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    padding: 0;
}

.menu ul{
    display: flex;
    justify-content: center;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}

.menu li a:hover {
    box-shadow: 0 -5px 0px #097cc4 inset,
    500px 0 0 rgba(34, 34, 143, 0.08) inset;

}
*/

.titel {
    display: flex;
    justify-content: center;
}

.titel img{
    width: 90%;
    margin: 0.1em 2em 1em 2em;
}

h1 {
    border-bottom: solid 3px rgb(110, 159, 65);
    margin-bottom: 3em;
    display: inline;
    color: rgb(55,79,32);
    font-size: 2em;
}

.h1-container{
    display: flex;
    justify-content: center;
}

h2{
    font-family: 'Acme';
    font-size: 1.5em;
    margin-left: 1em;
}

.tekst1{
    display: flex;
    align-items: center;
    margin-bottom: 5em;
    margin-left: 1em
}

.tekst1 p{
    margin-right: 1.2em;

}

.tekst1 img {
    width: 10em;
}

.avatar-container {
    display: flex;
    justify-content: center;
}

.info-voorbeelden{
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
}

.groenebalkon {
    display: flex;
    flex-direction: column;
}

.balkon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balkon-container img {
    width: 10em;
}

.tekst {
    flex: 1;
    padding: 0 20px;
}

.afbeeldingpot{
    flex: 0;
}

.groenebalkon h2 {
    text-align: left;
    margin: 0;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.groenebalkon p {
    text-align: left;
    margin: 0;
}
.groenebalkon {
    margin-top: 5em;
}





.groenecafe {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
}

.cafe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cafe-container img {
    width: 10em;
}

.tekst-cafe {
    flex: 1;
    padding: 0 20px;
}

.afbeeldingpotcafe{
    flex: 0;
}

.groenecafe h2 {
    text-align: right;
    margin: 0;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.groenecafe p {
    text-align: right;
    margin: 0;
}
.groenebalkon {
    margin-top: 5em;
}

.schep-container{
    display: flex;
    align-items: center;
    margin-bottom: 5em;
    margin-left: 1em
}

.schep-container p{
    margin-right: 1.2em;

}

.schep-container img {
    width: 10em;
}

.tips{
    margin-left: 1em;
}