body {
    background-image: url(../afbeeldingen/achtergrond.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding:0;
    color: black;
    background-color: rgb(255, 233, 190);
}

@font-face {
    font-family: Agbalumo;
    src: url(fonts/Agbalumo/Agbalumo-Regular.ttf);
}

@font-face {
    font-family: Acme;
    src: url(fonts/Acme/Acme-Regular.ttf);
}

@keyframes verschijn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar img { 
    width: 25%;
    margin-left: 1em;
}

.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: rgba(74, 46, 0, 0.551);
    transition: all 400ms ease;
}

.navbar a {
    margin: 0 1em 0 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: 'agbalumo','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.navbar a:last-child,
.navbar a:nth-last-child(2) {
    border: solid 3px rgb(0, 0, 0);
    background-color: rgb(110,159, 65);
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 20px 20px 20px 20px;
}

.navbar a:last-child:hover,
.navbar a:nth-last-child(2):hover {
    background-color: rgb(96, 138, 57);
    transform: scale(1.1);
}

.navbar a:last-child:active,
.navbar a:nth-last-child(2):active {
    background-color: rgb(62, 90, 37);
    transform: scale(1.1);
}

.titel {
    display: flex;
    justify-content: center;
}

.titel img {
    width: 90%;
    margin: 4em 2em 0 2em;
    animation-name: verschijn;
    animation-duration: 1.5s;
}

h1 {
    border-bottom: solid 3px rgb(110, 159, 65);
    margin-bottom: 1.5em;
    display: inline;
    color: rgb(55,79,32);
    font-size: 2em;
    margin-top: 0;
    font-family: 'Agbalumo';
}

.h1-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.5em;
}

.h1-avatar img {
    width: 15%;
    margin-bottom: 4em;
    margin-left: 1em;
}

h2 {
    font-family: 'Acme';
    font-size: 1.5em;
    margin: 0 0 0 1em;
}

.tekst1 {
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
    margin-left: 1.4em
}

.tekst1 p {
    margin-right: 1.2em;
}

.tekst1 img {
    width: 11em;
    margin-right: 1em;
}

.info-voorbeelden p {
    text-align: center;
    margin: 0 1em 0 1em;
}

.groenebalkon {
    display: flex;
    flex-direction: column;
}

.balkon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
}

.balkon-container img {
    width: 10em;
}

.tekst {
    flex: 1;
    padding: 0 20px;
}

.afbeeldingpot {
    flex: 0;
}

.groenebalkon h2 {
    text-align: left;
    margin: 0;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.groenebalkon p {
    text-align: left;
    margin: 0;
}
.groenebalkon {
    margin-top: 5em;
}

.groenecafe {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 3em;
}

.cafe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
}

.cafe-container img {
    width: 10em;
}

.tekst-cafe {
    flex: 1;
    padding: 0 20px;
}

.afbeeldingpotcafe {
    flex: 0;
}

.groenecafe h2 {
    text-align: right;
    margin: 0;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.groenecafe p {
    text-align: right;
    margin: 0;
}

.actie-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-left: 1.4em
}

.actie-container p {
    margin-right: 1.2em;
}

.actie-container img {
    width: 10em;
    margin-right: 1em;
}

h3 {
    margin-left: 1em;
    font-family: 'Acme';
}

ul{
    margin-bottom: 3em;
}