body {
    background-image: url(../afbeeldingen/background.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding:0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header img {
    width: 50%;
    margin: 10px
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    padding: 0;
}

.menu ul{
    display: flex;
    justify-content: center;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}

.menu li a:hover {
    box-shadow: 0 -5px 0px #097cc4 inset,
    500px 0 0 rgba(34, 34, 143, 0.08) inset;

}

main {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titel {
    width: 85%;
    margin-bottom: 1em;
}

article h1{
    text-align: center;
    color: rgb(57, 159, 16);
    font-size: 2em;
}

.blaadjetekst{
    margin-top: 8em;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%
}

.image-container h2{
    position: absolute;
    top: 26%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
}

.image-container p{
    position: absolute;
    top: 38%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: white;
   font-size: 0.8em;
}

.groen img{
    width: 50%;
    margin-left: 1em;
    margin-top: 1em;
}

.avatar-container{
    display: flex;
 
    margin-right: 10em;
    margin-top: 2em;
}


#fotoblaadje{
    margin-top: 4em;


}